<% content_for :title, "Users" %>

<% content_for :top_right do %>
  <div class="index-button-group">
    <%= link_to "Create user", new_user_invitation_path, class: "btn btn-primary mb-3" %>
  </div>
<% end %>

<div class="row">
  <div class="col-xs-12 col-md-4">
    <%= render "filters" %>
  </div>
  <div class="col-xs-12 col-md-8">
    <div style="overflow-x:auto">
      <%= render "results" %>           
    </div>   
    <%= paginate @users %>     
  </div>  
</div>