<% content_for :title, "Make your account more secure" %>

<div class="devgovuk-grid-row">
  <div class="devgovuk-grid-column-two-thirds">
    <%= render "make_your_account_more_secure" %>
  </div>
</div>