<% content_for :title, "Create new API user" %>

<div class="row">
  <div class="col-xs-12 col-md-8">
    <%= form_for @api_user do |f| %>
      <%= render partial: "form_fields", locals: { f: f } %>
      <%= f.submit "Create API user", class: "btn btn-primary" %>
    <% end %>    
  </div>
</div>