<% content_for :title, "Edit '#{@application.name}'" %>

<p>
  <%= link_to "Edit application permissions", 
      oauth_application_permissions_path(@application) %>
</p>

<div class="row">
  <div class="col-xs-12">
    <%= render 'form' %>
  </div>
</div>