@import "bootstrap/scss/bootstrap";

.container {
  max-width: 960px;
}

.index-button-group {
  @include media-breakpoint-up(sm) {
    float: right;
  }
}

.btn {
  @include media-breakpoint-down(sm) {
    width: 100%;
  }  
}